.inline-block {
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: auto;


}

body {
    background-color: black;

}

div.logo {
    text-align: center;
    width: 23%;
    padding: 1%;
}