body {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:center; /* Align items to the top right corner */
    height: 100vh;
    margin: 0;
    padding: 0;

}
.header{
    justify-content:space-evenly;
    padding-top: 4%;
    padding-right: 50%;

}

.container {
    width: 30%; /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
}

.inline-block {
    color: white;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 20%; 
    justify-content:space-evenly;

    /* Add margin to the right for spacing */
}

div.logo {
    text-align: center;
    align-content: end;
    width: 23%;
    padding: 10%;
}
